[submodule "3rdparty/Megatron-Bridge"]
	path = 3rdparty/Megatron-Bridge-workspace/Megatron-Bridge
	url = https://github.com/NVIDIA-NeMo/Megatron-Bridge.git
	branch = main
	shallow = true
[submodule "3rdparty/Automodel-workspace/Automodel"]
	path = 3rdparty/Automodel-workspace/Automodel
	url = https://github.com/NVIDIA-NeMo/Automodel.git
	branch = main
	shallow = true
[submodule "3rdparty/Gym-workspace/Gym"]
	path = 3rdparty/Gym-workspace/Gym
	url = https://gitlab-master.nvidia.com/atlas/nemogym.git
	branch = linj/kernelwriter
	shallow = true
[submodule "3rdparty/solswarm"]
	path = 3rdparty/solswarm
	url = https://gitlab-master.nvidia.com/atlas/solswarm.git
	branch = linj/kernelwriter
	shallow = true
